body {
  background-color: cadetblue;
  color: white;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
button {
  height: 40px;
  width: 180px;
  margin-top: 20px;
  background-color: cadetblue;
  border: 1px solid white;
  color: white;
}
.user {
  margin-top: 70px;
  display: flex;
}
img {
  width: 180px;
  height: 180px;
}
.info {
  margin-left: 80px;
}
